---
import BtnWhatsApp from "./BtnWhatsApp.astro";
import profileImage from "../assets/profile.webp";

const { classNames = "about home" } = Astro.props;
---

<section class={classNames}>
  <div class="container mx-auto">
    <div class="wrapper">
      <div class="profile-image">
        <img src={profileImage.src} alt="Dra. Karina Lima" />
      </div>

      <h2 class="title">Sobre Mim</h2>
      <div class="content">
        <slot />
      </div>

      <BtnWhatsApp />
    </div>
  </div>
</section>
