---
import BtnWhatsApp from "./BtnWhatsApp.astro";
---

<section class="cta">
  <div class="wrapper">
    <h2 class="title">Não enfrente esse momento sozinha</h2>
    <div class="description">Entre em contato e garanta orientação jurídica especializada para proteger seus direitos e os de seus filhos.</div>
    <BtnWhatsApp label="Clique aqui para falar comigo no WhatsApp" />
  </div>
</section>
