---
import BtnWhatsApp from "./BtnWhatsApp.astro";
import Logo from "./Logo.astro";
import TopBar from "./TopBar.astro";
---

<header>
  <TopBar />
  <Logo />

  <div class="hero">
    <div class="wrapper">
      <div class="content">
        <h1>Dra. Karina Lima</h1>
        <p class="subtitle">Advogada especializada em Direito do consumidor, família e direito bancário. Atuação em todo o território nacional de forma online com sede presencial no Estado de São Paulo - Osasco.</p>
        <BtnWhatsApp />
      </div>
    </div>
  </div>
</header>
